body {
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }



  .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 50px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;

    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 30px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 120px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 50px;
    width: 50px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  color: black;
    background-color:white;
   
    text-decoration:none;
    }


.header{
    background-color:white;
    background-size: cover;
    top:0;
   }

.border-hover {
    border-top: 5px solid transparent;
    transform: translateY(-4px);
}

.border-hover:hover {
    border-top: 5px solid #ff9138;
    transform: translateY(-4px);
}

.navbar-toggler {
    border:2px solid #FF9138;
}


#nav-length {
    width: 90%;
}

@media screen and (max-width : 992px) {
    #nav-length {
        width: 100%;
    }

    .border-hover {
        border-top: 0;
    }

    .border-hover:hover {
        border-top: 0;
    }
}

.textcolor{
    color: rgb(134, 14, 88);
}
.textcolor1
{
    color: orange;
}
.cardstyle{
    height:220px;
}
.office{
    background-image: url("../pvr img/office.jpg");
}

    .btnc{
                background-color: rgb(125, 126, 127);
            }
    .bg{
        background-image: url("../pvr img/bg.jpg");
    }
.cardb{
        border:#696161 solid 2px;
}
.bgimg{
  background-image: url("../pvr img/logo3.jpg");
  background-repeat: no-repeat;
  height: 550px; 
}
.bgimg1{
    background-image: url("../pvr img/contact1.jpg");
    background-repeat: no-repeat;
    height: 350px; 
  }
.bgcolor{
    color: #0d0d0d;
}
.inputsize{
    height:150px;
}
.contactbg{
    background-image: url("../pvr img/soft-waves-free.jpg");
}
.textplace{
    text-align: center;
}
label{
    color:rgb(56, 115, 225);
    font-size: 20px;
}
@media (max-width:320px){
    .image{
        height: 250px;
    }
}
.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-container iframe{
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    position:absolute;
  }
  .scrol{
    margin-top: 65px;
    font-size: 16px;
    position: fixed;
    width: 10px;
    color: black;
    transition: all 0.2s ease;
    cursor: pointer;
    font-family: Times New Roman, Times, serif;

      }
.scrol:hover{
box-shadow: 10px 6px 6px 2px #a2c3e4;

}